{% extends 'studentapp/style.html' %}
{% load static %}

{% block title %}Student App{% endblock %}

{% block b %}
<div class="container mt-5">
    <div class="card shadow-lg p-5 border-0 rounded-4">
        <h2 class="text-center text-dark fw-bold mb-4">📞 Contact Author</h2>

        <p class="lead text-center text-secondary mb-4">
            For any queries, suggestions, or feedback about this Student Management System,
            you can contact the author directly.
        </p>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><strong>Name:</strong> Chaitanya Daavuluri</li>
                    <li class="list-group-item"><strong>Email:</strong> dchaitanya373@gmail.com</li>
                    <li class="list-group-item"><strong>Phone:</strong> +91-9346381014</li>
                    <li class="list-group-item"><strong>Git Hub:</strong> <a href="https://github.com/MrChaitu111/"  class="text-decoration-none">Mr_Chaitu</a></li>
                </ul>
            </div>
        </div>

        <div class="text-center mt-4">
            <a href="{% url 'back' %}" class="btn btn-outline-dark w-25 rounded-5 me-3 hover-btn">🏠 Go Back Home</a>
        </div>
    </div>
</div>
{% endblock %}
